* {
  font-family: purisa;
}

body {
    background-color: rgb(23, 23, 23);
}

h1 {
    color: rgb(207, 183, 183);
    font-size: 65px;
    font-family: purisa;
    text-align: center;
    font-style: bold;

    

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

  img {
    height: auto;
    width: 400px;
  }

  a {
    color: rgb(158, 147, 180);
    font-size: 18px;
    font-family: purisa;
    
  }
  
  a:hover {
    color: #d3cde9;
  }
  
  a:active {
    color: rgb(255, 255, 255);
  }
  
  h2, h3 {
    text-align: center;
    color:aliceblue;
    padding: 10px;
  }

div {
    text-align: center;
    color:aliceblue;
}

ul, ol {
    display: inline-block;
    text-align: justify;    
}


  p {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    max-width: 500px;
    color:aliceblue;

  }

  figcaption {
    text-align: center;
    color:aliceblue;
  }

  button {
    background-color: rgb(73, 73, 73);
  }
